<div id="movies">

  <% @movies.each do |movie| %>
    <div class="movie_listing">
      <%= movie.title %>
      <%= movie.rating %>
      <%= movie.length %> minutes
      <% movie.showings.each do |show| %>
        <div class="times">
          <%= show.starting_time.strftime("Starting at %I:%M%p") %>
          <%= link_to "Get a Ticket", new_show_ticket_path(show.id) %>
        </div> 
      <% end %>
      </div> 
    <% end %>
</div>  


  
